footer {
  background: url(images/footer.png) $dark-blue no-repeat center center;

  .container {
    @include outer-container;
    padding: em(30) 0;
    color: $light-gray;

    .copy {
    	@include span-columns(6);
      text-align: right;
    }
    .THG {
    	@include span-columns(6);
    }
  }
}

