.welcome {
	
	background: $medium-gray;
	padding: em(40);

	.container {
		@include outer-container;

		.green-button {

			background: $green;
			margin-top: em(20);
			padding: em(10) em(20);
			@include border-top-radius(5px);
			@include border-bottom-radius(5px);
			@include border-left-radius(5px);
			@include border-right-radius(5px);
			line-height: em(17);
			display: inline-block;

			a {
				color: $dark-gray;
				p {

					color: $dark-green;
					margin: 0;
					font-size: 10pt;
				}
			}

			&:hover {
				background: darken($green,5);

			}
		}
	}
}

.how-to-use {
	
	background: $dark-gray;
	color: white;
	margin-bottom: em(20);

	.title {

		background: lighten($dark-gray,5);
		color: $blue;
		padding: em(20);
	}

	.description {
		padding: em(20);
	}
}