body {
	
	color: $dark-gray;
}

h1,h2,h3,h4,h5,h6 {

	font-family: 'Vera-Bold', Helvetica, sans-serif;
}

#main {

    @include outer-container;
    margin: em(20) auto 0;
}

.blue {

    color: $blue;
}
