.home-menu {

	.container {

		@include outer-container;
	}

	background: $dark-gray;
	color: white;
	padding: em(20) 0 0 0;

	.logo {

		@include span-columns(2);

		@media screen and (max-width: 460px){

			@include span-columns(12);
			margin-bottom: 10px;
		}

		a {

			border: none;
			padding: 0;
			margin: 0;
			color: white;
			&:hover {
				background: transparent;
			}

			h1 {

				font-family: 'Roboto', Helvetica, sans-serif;
				background: url(images/icon.png) no-repeat left center;
				background-size: 45px;
				padding-left: 50px;
			}

		}
	}



	.hero {

		@include outer-container;

		h2,h5 {

			font-family: 'Vera-Mono', Helvetica, sans-serif;
		}

		h5 {

			margin-top: 20px;
		}

		.content {

			@include span-columns(7);
			@include omega();
			padding: em(70) 0;

		}
		.animation {

			@include span-columns(5);
			@include omega();
		}

		@media screen and (min-width: 951px) and (max-width: 1100px) {

		  .content {

				@include span-columns(5);
			}

			.animation {

				@include span-columns(7);
				padding: em(10);
				text-align: center;
			}
		}

		@media screen and (max-width: 950px) {

		  .content {

				@include span-columns(12);
				padding: em(10);
			}

			.animation {

				@include span-columns(12);
				padding: em(10);
				text-align: center;
			}
		}

		.square {
			
			background: $blue;
			width: 15px;
			height: 30px;
			display: inline-block;
		}
	}
}
