.home-menu {

	.container {

		@include outer-container;
	}

	background: $dark-gray;
	color: white;
	padding: em(20) 0 0 0;


	h1 {

		background: url(images/icon.png) no-repeat left center;
	}

	.hero {

		@include outer-container;

		h2,h5 {

			font-family: 'Vera-Mono', Helvetica, sans-serif;
		}

		h5 {

			margin-top: 20px;
		}

		.content {

			@include span-columns(7);
			@include omega();
			padding: em(70) 0;

		}
		.animation {

			@include span-columns(5);
			@include omega();
		}

		@media screen and (max-width: 768px) {

		  .content {

				@include span-columns(12);
				padding: em(10);
			}

			.animation {

				@include span-columns(12);
				padding: em(10);
				text-align: center;
			}
		}

		.square {
			
			background: $blue;
			width: 15px;
			height: 30px;
			display: inline-block;
		}
	}
}
