---
title: Documentation - Arduino
author: The Hybrid Group
description: Gort  Documentation Arduino
layout: documentation
active_docs: true
docs_cli_arduino_active: true
---

.content-info
  %h1.title-top Arduino
  .description
    %h3
      %b gort [global options] command <required arguments> [optional arguments...]
    %br
    %h4 Description
    %p Install avrdude, and upload sketches to your Arduino
    :markdown
          $ gort arduino
          Usage:
          gort arduino install                                   # installs avrdude to allow uploading of sketchesto     Arduino
          gort arduino upload firmata [port]                    # uploads Firmata sketch to Arduino
          gort arduino upload rapiro [port]                     # uploads Rapiro sketch to Arduino
          gort arduino upload [custom-firmware-filename] [port] # uploads a custom sketch to Arduino


    %b Notes:
    :markdown
      To be able to run the upload command
      you must run `gort arduino install` first.
      The serial port must have the correct permissions for your
      user to read and write, or run it as root (sudo it).

          $ gort arduino upload ttyACM0

          avrdude: AVR device initialized and ready to accept instructions

          Reading | ################################################## | 100% 0.00s

          avrdude: Device signature = 0x1e950f
          avrdude: reading input file "/home/myuser/workspace/cylon-cmds/node_modules/cylon-   firmata/src/cli/hex/StandardFirmata.cpp.hex"
          avrdude: writing flash (11452 bytes):

          Writing | ################################################## | 100% 1.84s

          avrdude: 11452 bytes of flash written
          avrdude: verifying flash memory against /home/myuser/workspace/cylon-cmds/node_modules/cylon-   firmata/src/cli/hex/StandardFirmata.cpp.hex:
          avrdude: load data flash data from input file /home/myuser/workspace/cylon-cmds/node_modules/cylon-   firmata/src/cli/hex/StandardFirmata.cpp.hex:
          avrdude: input file /home/myuser/workspace/cylon-cmds/node_modules/cylon-firmata/src/cli/hex/StandardFirmata.   cpp.hex contains 11452 bytes
          avrdude: reading on-chip flash data:

          Reading | ################################################## | 100% 1.47s

          avrdude: verifying ...
          avrdude: 11452 bytes of flash verified

          avrdude: safemode: Fuses OK

          avrdude done.  Thank you.
