---
title: Documentation - Arduino
author: The Hybrid Group
description: Gort  Documentation Arduino
layout: documentation
active_docs: true
docs_cli_arduino_active: true
---

.content-info
  %h1.title-top Arduino
  .description
    %h3
      %b gort [global options] arduino <required arguments> [optional arguments...]
    %br
    %h4 Description
    %p Install avrdude, and upload sketches to your Arduino
    :markdown
          $ gort arduino

          Usage:
            # installs avrdude to allow uploading of sketches to Arduino
            gort arduino install

            # uploads Firmata sketch to Arduino
            gort arduino upload firmata <port> [flags]

            # uploads Rapiro sketch to Arduino
            gort arduino upload rapiro <port> [flags]

            # uploads a custom sketch to Arduino
            gort arduino upload <custom-firmware-filename> <port> [flags]

              upload flags:
                -b < m328 | uno | nano | mini | ethernet | fio | m168 |
                     diecimila | stamp | mega | mega1280 | mega2560 | megaADK |
                     leonardo | robot | micro | esplora >

    %b Notes:
    :markdown
      To be able to run the `gort arduino upload` command
      you must run `gort arduino install` first.

      To choose a specific board type for upload, use the `-b` flag.

      For example, to upload the Firmata sketch to an Arduino Nano:

          $ gort arduino upload firmata /dev/ttyACM0 -b nano

      In addition, the serial port must have the correct permissions for your
      user to read and write, or run the command as root by using sudo:

          $ sudo gort arduino upload firmata /dev/ttyACM0 -b nano
