---
title: Documentation - Bluetooth
author: The Hybrid Group
description: Gort Documentation Bluetooth
layout: documentation
active_docs: true
docs_cli_bluetooth_active: true
---

.content-info
  %h1.title-top Bluetooth
  .description
    fdfdf
