---
title: Documentation - Bluetooth
author: The Hybrid Group
description: Gort Documentation Bluetooth
layout: documentation
active_docs: true
docs_cli_bluetooth_active: true
---

.content-info
  %h1.title-top Bluetooth
  .description
    %h3
      %b gort [global options] command <required arguments> [optional arguments...]
    %br
    %h4 Description
    %p Pair, connect, & unpair bluetooth devices.
    :markdown
          $ gort bluetooth
          Usage:
          gort bluetooth pair <address> [hciX]
          gort bluetooth connect <port> <address> [hciX]
          gort bluetooth unpair <address> [hciX]
