---
title: Documentation - Bluetooth
author: The Hybrid Group
description: Gort Documentation Bluetooth
layout: documentation
active_docs: true
docs_cli_bluetooth_active: true
---

.content-info
  %h1.title-top Bluetooth
  .description
    %h3
      %b gort [global options] bluetooth <required arguments> [optional arguments...]
    %br
    %h4 Description
    %p Connect & disconnect bluetooth devices.
    :markdown
          $ gort bluetooth
          Invalid/no subcommand supplied.

          Usage:
          gort bluetooth connect <address> [hciX]
          gort bluetooth serial <address> [port] [hciX]
          gort bluetooth disconnect <address> [hciX]
