---
title: Documentation - Crazyflie
author: The Hybrid Group
description: Gort Documentation - Crazyflie
layout: documentation
active_docs: true
docs_cli_crazyflie_active: true
---

.content-info
  %h1.title-top Crazyflie
  .description
    %h3
      %b gort [global options] crazyflie <required arguments> [optional arguments...]
    %br
    %h4 Description
    %p Configure your Crazyflie.
    :markdown
          $ gort crazyflie
          Usage:
          gort crazyflie set-udev-rules # set udev rules needed to connect to Crazyflie
