---
title: Documentation - Digispark
author: The Hybrid Group
description: Gort Documentation - Digispark
layout: documentation
active_docs: true
docs_cli_digispark_active: true
---

.content-info
  %h1.title-top Digispark
  .description
    %h3
      %b gort [global options] command <required arguments> [optional arguments...]
    %br
    %h4 Description
    %p Configure your Digispark microcontroller.
    :markdown
          $ gort digispark
          Usage:
          gort digispark install # installs software to upload firmware to Digispark
          gort digispark upload [littlewire] # uploads firmware to Digispark
          gort digispark set-udev-rules # set udev rules needed to connect to Digispark
