---
title: Documentation - DroneDrop
author: The Hybrid Group
description: Gort Documentation - DroneDrop
layout: documentation
active_docs: true
docs_cli_dronedrop_active: true
---

.content-info
  %h1.title-top DroneDrop
  .description
    %h4 Description
    %p Install, uninstall, update and download dronedrop firmware
    :markdown
          $ gort dronedrop
          Usage:
            gort dronedrop download  # Download the latest dronedrop firmware and support scripts
            gort dronedrop install   # Install dronedrop on your ardrone
            gort dronedrop uninstall # Remove dronedrop from your ardrone 
            gort dronedrop update    # Updates dronedrop on your ardrone


