---
title: Documentation - Help
author: The Hybrid Group
description: Gort Documentation - Help
layout: documentation
active_docs: true
docs_cli_help_active: true
---

.content-info
  %h1.title-top Help
  .description
    %h3
      %b gort [global options] command <required arguments> [optional arguments...]
    %br
    %h4 Description
    %p Shows a list of commands or help for one command.
    :markdown
          $ gort help
          Usage:
          gort help, h
