---
title: Documentation - Klatuu
author: The Hybrid Group
description: Gort Documentation - Klatuu
layout: documentation
active_docs: true
docs_cli_klaatu_active: true
---

.content-info
  %h1.title-top Klatuu
  .description
    %h3 
      %b gort [global options] command [command options] [arguments...]
    %br
    %h4 Description
    %p barada nikto.
    :markdown
          $ gort klaatu barada nikto 
         
