---
title: Documentation - Particle
author: The Hybrid Group
description: Gort Documentation - Particle
layout: documentation
active_docs: true
docs_cli_particle_active: true
---

.content-info
  %h1.title-top Particle
  .description
    %h3
      %b gort [global options] particle <required arguments> [optional arguments...]
    %br
    %h4 Description
    %p Upload sketches to your Particle Photon.
    :markdown
          $ gort particle
          Usage:
          gort particle upload <accessToken> <deviceId> <default|path name> # uploads sketch to Particle
