---
title: Documentation - Scan
author: The Hybrid Group
description: Gort Documentation - Scan
layout: documentation
active_docs: true
docs_cli_scan_active: true
---

.content-info
  %h1.title-top Scan
  .description
    %h3
      %b gort [global options] scan <required arguments> [optional arguments...]
    %br
    %h4 Description
    %p Scan for connected devices on Serial, USB, or Bluetooth ports
    :markdown
          $ gort scan
          Usage:
          gort scan [serial|usb|bluetooth]
