---
title: Documentation - Spark
author: The Hybrid Group
description: Gort Documentation - Spark
layout: documentation
active_docs: true
docs_cli_spark_active: true
---

.content-info
  %h1.title-top Spark
  .description
    %h3 
      %b gort [global options] command [command options] [arguments...]
    %br
    %h4 Description
    %p Upload sketches to your Spark.
    :markdown
          $ gort spark 
          Usage:
          gort spark upload [accessToken] [deviceId] [default|voodoospark|path name] # uploads sketch to Spark
