---
title: Documentation - Contact Us
author: The Hybrid Group
description: Gort Documentation - Contact Us
layout: documentation
active_docs: true
docs_contact_usg_active: true
---

.content-info
  %h1.title-top Contact Us
  .description
    %h4 IRC
    %br
    %p Need more help? Just want to say "Hello"? Come visit us on IRC freenode #robotops
    %br
    %h4 Open a new issue
    %br
    %p
      If you need help or you feel we can improve something, let us know! Open a
      = link_to "new issue.", "https://github.com/hybridgroup/gort/issues", target: :blank
    %br
    %h4 Check Out Our Robotics Frameworks
    %br
    %ul
      %li
        Want to use Golang to program your robots? Check out our open source robotics framework 
        = link_to "Gobot" , "http://gobot.io", target: :blank
      %li
        Want to use Javascript on Robots? Check out
        = link_to "Cylon.js", "http://cylonjs.com", target: :blank
      %li
        Want to use Ruby on robots? Check out 
        = link_to "Artoo" , "http://artoo.io", target: :blank
