---
title: Downloads
author: The Hybrid Group
description: Gort Downloads
layout: documentation
active_docs: true
docs_downloads_active: true
---
.content-info
  %h1.title-top Downloads
  .description
    %p  We now have precompiled binaries! You can also build from source.
    %p  The Gort CLI provides many useful features on many hardware platforms, and has no other dependencies. You install Gort separately from any framework, which means you can use it to program Arduinos with the Firmata firmware also compatible with Cylon.js, Gobot, Artoo, & Johnny-Five. 
    %h2 OSX
    .buttons
      .green-button
        %a{href:"https://s3.amazonaws.com/gort-io/0.1.0/gort_darwin_386", target: "_blank"}
          <i class="fa fa-download"></i> gort_darwin_386
      .green-button
        %a{href:"https://s3.amazonaws.com/gort-io/0.1.0/gort_darwin_amd64", target: "_blank"}
          <i class="fa fa-download"></i> gort_darwin_amd64
    %br
    %h2 Windows
    .buttons
      .green-button
        %a{href:"https://s3.amazonaws.com/gort-io/0.1.0/gort_windows_386.exe", target: "_blank"}
          <i class="fa fa-download"></i> gort_windows_386.exe
      .green-button
        %a{href:"https://s3.amazonaws.com/gort-io/0.1.0/gort_windows_amd64.exe", target: "_blank"}
          <i class="fa fa-download"></i> gort_windows_amd64.exe
    %br
    %h2 Linux
    .buttons
      .green-button
        %a{href:"https://s3.amazonaws.com/gort-io/0.1.0/gort_linux_386", target: "_blank"}
          <i class="fa fa-download"></i> gort_linux_386
      .green-button
        %a{href:"https://s3.amazonaws.com/gort-io/0.1.0/gort_linux_amd64", target: "_blank"}
          <i class="fa fa-download"></i> gort_linux_amd64
      .green-button
        %a{href:"https://s3.amazonaws.com/gort-io/0.1.0/gort_linux_arm", target: "_blank"}
          <i class="fa fa-download"></i> gort_linux_arm
