---
title: Documentation - Home
author: The Hybrid Group
description: Gort Documentation Home
layout: documentation
active_docs: true
docs_home_active: true
---

.content-info
  %h1.title-top Documentation Home
  %p  We now have precompiled binaries! You can also build from source.
  %p  The Gort CLI provides many useful features on many hardware platforms, and has no other dependencies. You install Gort separately from any framework, which means you can use it to program Arduinos with the Firmata firmware also compatible with Cylon.js, Gobot, Artoo, & Johnny-Five.
  %h2 How To Use
  .description
    :markdown
          $ gort
          NAME:
             gort - Command Line Utility for RobotOps

          USAGE:
             gort [global options] command [command options] [arguments...]

          VERSION:
             0.7.0

          COMMANDS:
               scan       Scan for connected devices on Serial, USB, or Bluetooth ports
               bluetooth  Connect & disconnect bluetooth devices.
               arduino    Install avrdude, and upload HEX files to your Arduino
               particle   Upload sketches to your Particle Photon or Electron
               digispark  Configure your Digispark microcontroller
               crazyflie  Configure your Crazyflie
               klaatu     barada nikto
               help, h    Shows a list of commands or help for one command

          GLOBAL OPTIONS:
             --help, -h     show help
             --version, -v  print the version

  %h5 Scan for connected serial devices:
  .description
    :markdown
          $ ./gort scan serial
          [    0.000000] console [tty0] enabled
  %h2 Building
  .description
    %p Check out our Github repo for more information on how to build gort from source.
