---
title: Documentation - Home
author: The Hybrid Group
description: Gort Documentation Home
layout: documentation
active_docs: true
docs_home_active: true
---

.content-info
  %h1.title-top Documentation Home
  %p  We now have precompiled binaries! You can also build from source.
  %p  The Gort CLI provides many useful features on many hardware platforms, and has no other dependencies. You install Gort separately from any framework, which means you can use it to program Arduinos with the Firmata firmware also compatible with Cylon.js, Gobot, Artoo, & Johnny-Five.
  %h2 How To Use
  .description
    :markdown
          $ gort
          NAME:
          gort - Command Line Utility for RobotOps

          USAGE:
          gort [global options] command [command options] [arguments...]

          VERSION:
          0.6.1

          COMMANDS:
          scan         Scan for connected devices on Serial, USB, or Bluetooth ports
          bluetooth    Connect & disconnect bluetooth devices.
          arduino      Install avrdude, and upload HEX files to your Arduino
          particle     Upload sketches to your Particle Photon
          digispark    Configure your Digispark microcontroller
          crazyflie    Configure your Crazyflie
          klaatu       barada nikto
          help, h      Shows a list of commands or help for one command

          GLOBAL OPTIONS:
          --help, -h           show help
          --version, -v        print the version

  %h5 Scan for connected serial devices:
  .description
    :markdown
          $ ./gort scan serial
          [    0.000000] console [tty0] enabled
  %h2 Building
  .description
    %p You need to have installed go-bindata to build the file assets into Gort for a single standalone executable:
    :markdown
          go get github.com/jteeuwen/go-bindata/...
    %p Once installed, you build the assets into the project like this:
    :markdown
          cd commands && go-bindata -pkg="commands" support/... && cd ..
