%footer
  .container
    .THG
      %a{href: "http://hybridgroup.com/", target: :blank}
        %img{src: "/stylesheets/images/THG.png", height: "30"}
    %p.copy &copy; Copyright 2014-2015 The Hybrid Group
