.container
  .logo
    %a{href:"/"}
      %h1 GORT
  %nav
    %ul
      %li.github
        %a{href:"https://github.com/hybridgroup/gort", target: "_blank"}
          <i class="fa fa-github fa-lg"></i> GITHUB
      %li
        - if current_page.data.active_docs == true
          = link_to "DOCS", "/documentation/getting_started", class: "active"
        - else
          = link_to "DOCS", "/documentation/getting_started"
