%nav
  %ul
    %li.logo
      %a{href:"/"}
        %h1 GORT 
    %li.github
      = link_to "GITHUB", "https://github.com/hybridgroup/gort-site", target: :blank
    %li 
      - if current_page.data.active_docs == true
        = link_to "DOCS", "/documentation/getting_started", class: "active"
      - else
        = link_to "DOCS", "/documentation/getting_started"