- if current_page.data.homeMenu == true
  %header.home-menu
    = partial "partials/menu"

    .hero
      .content
        %h2
          %span.blue GORT
          is a Command Line Toolkit for RobotOps
          .square
        %h5 Gort provides tools to scan for connected devices, upload firmware, and more.
      .animation
        %script{type:"text/javascript", src:"https://asciinema.org/a/10306.js", id:"asciicast-10306", "data-autoplay" => "1"}

-else
  %header.menu
    = partial "partials/menu"
