---
title: Welcome to Gort
homeMenu: true
grayBackground: true
title_gray: Getting Started
description_gray: 'We now have precompiled binaries! You can also build from source.<br>
The Gort CLI provides many useful features on many hardware platforms, and has no other dependencies. You install Gort separately from any framework, which means you can use it to program Arduinos with the Firmata firmware also compatible with Cylon.js, Gobot, Artoo, & Johnny-Five.'
button_gray: '<a href="https://github.com/hybridgroup/gort#downloads" target="_blank">DOWNLOAD<br><p>OSX / WINDOWS / LINUX</p></a>'

layout: home
---

.how-to-use
  .title
    %h4 How To Use
  .description
    :markdown
          $ ./gort
          NAME:
             gort - Command Line Utility for RobotOps
          
          USAGE:
             gort [global options] command [command options] [arguments...]

          VERSION:
             0.1.0

          COMMANDS:
             scan   Scan for connected devices on Serial, USB, or Bluetooth ports
             bluetooth  Scan, pair, unpair bluetooth devices. Establishes serial to Bluetooth connection.
             arduino  Install avrdude, and upload sketches to your Arduino
             spark  Upload sketches to your Spark
             digispark  Configure your Digispark microcontroller
             crazyflie  Configure your Crazyflie
             klaatu barada nikto
             help, h  Shows a list of commands or help for one command

          GLOBAL OPTIONS:
             --version, -v  print the version
             --help, -h   show help
  .title
    %h6 Scan for connected serial devices:
  .description
    :markdown
          $ ./gort scan serial
          [    0.000000] console [tty0] enabled

.how-to-use
  .title
    %h4 Building
  .description
    %p You need to have installed go-bindata to build the file assets into Gort for a single standalone executable:
    :markdown
          go get github.com/jteeuwen/go-bindata/...
    %p Once installed, you build the assets into the project like this:
    :markdown
          cd commands && go-bindata -pkg="commands" support/... && cd ..

