---
title: Welcome to Gort
author: The Hybrid Group
description: Gort Getting Started

homeMenu: true
grayBackground: true

title_gray: Getting Started
description_gray: 'The Gort CLI provides many useful features on many hardware platforms, and has no other dependencies. You install Gort separately from any framework, which means you can use it to program Arduinos with the Firmata firmware also compatible with Cylon.js, Gobot, Artoo, & Johnny-Five. And more!'
button_gray: '<a href="/documentation/getting_started/downloads">DOWNLOAD<br><p>OSX / WINDOWS / LINUX</p></a>'

layout: home
---

.how-to-use
  .title
    %h4 How To Use
  .description
    :markdown
          $ gort
          NAME:
             gort - Command Line Utility for RobotOps

          USAGE:
             gort [global options] command <required arguments> [optional arguments...]

          VERSION:
             0.4.0

          COMMANDS:
             scan         Scan for connected devices on Serial, USB, or Bluetooth ports
             bluetooth    Pair, connect, & unpair bluetooth devices.
             arduino      Install avrdude, and upload HEX files to your Arduino
             spark        Upload sketches to your Spark
             digispark    Configure your Digispark microcontroller
             crazyflie    Configure your Crazyflie
             klaatu       barada nikto
             help, h      Shows a list of commands or help for one command

          GLOBAL OPTIONS:
             --help, -h           show help
             --version, -v        print the version

  .title
    %h6 Scan for connected serial devices:
  .description
    :markdown
          $ gort scan serial
          [    0.000000] console [tty0] enabled

.how-to-use
  .title
    %h4 Installing
  .description
    %p Download the correct binary for your operating system, and then run it. You do not need to have the Go language installed. The Gort binary contains everything that you need to execute it with no other dependencies.

    %a{:href=>"/documentation/getting_started/downloads"}
      Download it now for OSX, WINDOWS, & LINUX
